﻿@model EquiforestWebApp.Models.Precios

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Precios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FacturaId" class="control-label"></label>
                <input asp-for="FacturaId" class="form-control" />
                <span asp-validation-for="FacturaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clase" class="control-label"></label>
                <input asp-for="Clase" class="form-control" />
                <span asp-validation-for="Clase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estrato" class="control-label"></label>
                <input asp-for="Estrato" class="form-control" />
                <span asp-validation-for="Estrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioA" class="control-label"></label>
                <input asp-for="PrecioA" class="form-control" />
                <span asp-validation-for="PrecioA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioB" class="control-label"></label>
                <input asp-for="PrecioB" class="form-control" />
                <span asp-validation-for="PrecioB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioC" class="control-label"></label>
                <input asp-for="PrecioC" class="form-control" />
                <span asp-validation-for="PrecioC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

