﻿@model EquiforestWebApp.Models.Precios

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Precios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacturaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacturaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estrato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estrato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
