﻿@model List<EquiforestWebApp.Models.Precios>

@{
    ViewData["Title"] = "Edit";
}
<h2>Precios</h2>
<h4 style="color:grey">Factura @Model[0].FacturaId</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Edit" class="form-inline">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">
                <tr>
                    <th>Estrato</th>
                    <th>Precio A</th>
                    <th>Precio B</th>
                    <th>Precio C</th>
                </tr>

                @for (int i = 0; i < Model.Count; i++)
                {

                    @*<div class="form-group">
                    <label asp-for="@precio.FacturaId" class="control-label"></label>
                    <input asp-for="@precio.FacturaId" class="form-control" />
                    <span asp-validation-for="@precio.FacturaId" class="text-danger"></span>
                </div>*@
                    <tr>
                        <td>
                            <input type="hidden" asp-for="@Model[i].Id" />
                            <input type="hidden" asp-for="@Model[i].FacturaId" />
                            @*<label asp-for="@precio.Estrato" class="control-label"></label>*@
                            <input asp-for="@Model[i].Estrato" class="form-control" />
                            <span asp-validation-for="@Model[i].Estrato" class="text-danger"></span>
                        </td>

                        <td>
                            @*<label asp-for="@precio.PrecioA" class="control-label"></label>*@
                            <input asp-for="@Model[i].PrecioA" class="form-control" />
                            <span asp-validation-for="@Model[i].PrecioA" class="text-danger"></span>
                        </td>
                        <td>
                            @*<label asp-for="@precio.PrecioB" class="control-label"></label>*@
                            <input asp-for="@Model[i].PrecioB" class="form-control" />
                            <span asp-validation-for="@Model[i].PrecioB" class="text-danger"></span>
                        </td>
                        <td>
                            @*<label asp-for="@precio.PrecioC" class="control-label"></label>*@
                            <input asp-for="@Model[i].PrecioC" class="form-control" />
                            <span asp-validation-for="@Model[i].PrecioC" class="text-danger"></span>
                        </td>
                    </tr>
                }
            </table>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" /> |  <a asp-controller="Facturas" asp-action="Index" asp-route-fecini="@ViewBag.FecIni" asp-route-fecfin="@ViewBag.FecFin">Regresar</a>
            </div>
        </form>
    </div>
</div>


   


