﻿@model IEnumerable<EquiforestWebApp.Models.Precios>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FacturaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estrato)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecioA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecioB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecioC)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacturaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
