﻿@model EquiforestWebApp.Models.Facturas

@{
    ViewData["Title"] = "Create";
}

<h2>Crear</h2>

<h4>Facturas</h4>
<hr />
<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-4 col-xs-6">
            <div class="form-group">
                <label asp-for="FacturaId" class="control-label"></label>
                <input asp-for="FacturaId" class="form-control" />
                <span asp-validation-for="FacturaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finca" class="control-label"></label>
                <select asp-for="Finca" class="form-control" asp-items="ViewBag.Fincas">
                    <option selected="selected" value="">Seleccionar la finca</option>
                </select>
                @*<input asp-for="Finca" class="form-control" />*@
                <span asp-validation-for="Finca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especie" class="control-label"></label>
                <input asp-for="Especie" class="form-control" />
                <span asp-validation-for="Especie" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4 col-xs-6">
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <input asp-for="Destino" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillOfLading" class="control-label"></label>
                <input asp-for="BillOfLading" class="form-control" />
                <span asp-validation-for="BillOfLading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incoterm" class="control-label"></label>
                @*<input asp-for="Incoterm" class="form-control" />*@
                <select asp-for="Incoterm" class="form-control" asp-items="ViewBag.Incoterms">
                    <option selected="selected" value="@ViewBag.IncotermSelected">@ViewBag.IncotermSelected</option>
                </select>
                <span asp-validation-for="Incoterm" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4 col-xs-6">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>

