﻿@model EquiforestWebApp.Models.Facturas

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Facturas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacturaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacturaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Finca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Finca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Incoterm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Incoterm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillOfLading)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillOfLading)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
