﻿@model EquiforestWebApp.Models.Facturas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Facturas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacturaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacturaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Finca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Finca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Incoterm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Incoterm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillOfLading)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillOfLading)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
