﻿@model EquiforestWebApp.Models.Facturas

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>

<h5>Facturas</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="fecini" value="@ViewBag.FecIni" />
            <input type="hidden" name="fecfin" value="@ViewBag.FecFin" />
            <div class="form-group">
                <label asp-for="FacturaId" class="control-label"></label>
                <input asp-for="FacturaId" class="form-control" />
                <span asp-validation-for="FacturaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especie" class="control-label"></label>
                <input asp-for="Especie" class="form-control" />
                <span asp-validation-for="Especie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finca" class="control-label"></label>
                @*<input asp-for="Finca" class="form-control" />*@
                <select asp-for="Finca" class="form-control" asp-items="ViewBag.Fincas">
                    <option selected="selected" value="@ViewBag.FincaSelected">@ViewBag.FincaSelected</option>
                </select>

                <span asp-validation-for="Finca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incoterm" class="control-label"></label>
                @*<input asp-for="Incoterm" class="form-control" />*@
                <select asp-for="Incoterm" class="form-control" asp-items="ViewBag.Incoterms">
                    <option selected="selected" value="@ViewBag.IncotermSelected">@ViewBag.IncotermSelected</option>
                </select>
                <span asp-validation-for="Incoterm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <input asp-for="Destino" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillOfLading" class="control-label"></label>
                <input asp-for="BillOfLading" class="form-control" />
                <span asp-validation-for="BillOfLading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-fecini="@ViewBag.FecIni" asp-route-fecfin="@ViewBag.FecFin">Regresar</a>
</div>

