﻿@model List<PackingListResumen>
@{
    ViewData["Title"] = "Packing List";
}

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0px";
    }
</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a asp-controller="Facturas" asp-action="Index">Facturas</a>
    <a asp-controller="Contenedores" asp-action="Index">Contenedores</a>
    <a asp-controller="Facturas" asp-action="PackingList" asp-route-origen="2">Packing List</a>
</div>

<h4><span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Comercializacion</span></h4>

@if (ViewBag.ShowFilter)
{
    <h2>Packing List - Standby</h2>
}
else
{
    <h2>Packing List - Factura @ViewBag.Factura</h2> <a asp-controller="Facturas" asp-action="Index" asp-route-fecini="@ViewBag.FecIni" asp-route-fecfin="@ViewBag.FecFin">Regresar</a>
}

@if (ViewBag.ShowFilter)
{
    <div class="row">
        <div class="col-md-6 col-xs-4">
            <form asp-controller="Facturas" asp-action="PackingList" asp-route-origen="2">
                <div class="form form-inline">
                    <p>
                        <input type="hidden" name="pageNumber" value="1" />
                        <input type="date" class="form-control" name="fecini" value="@ViewData["FecIni"]" />
                        <input type="date" class="form-control" name="fecfin" value="@ViewData["FecFin"]" />
                        <input type="submit" asp- value="Filtrar" class="btn btn-default" />
                    </p>
                </div>
            </form>
        </div>
    </div>
}


<div class="row">

    @foreach (var cont in ViewBag.PackingList)
    {
        <div class="col-md-4">
            <div class="table-bordered myMargen">
                <table class="table bg-primary">
                    <caption class="text-center"><a asp-controller="Facturas" asp-action="PackingList" asp-route-packinglistid="@cont.Key" asp-route-origen="3">@cont.Key</a></caption>
                    <thead>
                        <tr>
                            <th style="width:50%">
                                <h5>Cliente : @Model.Where(w => w.PackingListId == cont.Key).Max(c => c.Cliente)</h5>
                            </th>
                            <th>
                                <h5>Fecha   : @Model.Where(w => w.PackingListId == cont.Key).Max(c => c.Fecha).ToShortDateString()</h5>
                            </th>
                        </tr>

                        <tr>
                            <th>
                                <h5>Factura : @Model.Where(w => w.PackingListId == cont.Key).Max(c => c.FacturaId)</h5>
                            </th>
                            <th>
                                <h5>Cabezal : @Model.Where(w => w.PackingListId == cont.Key).Max(c => c.Cabezal)</h5>
                            </th>
                        </tr>

                        <tr>
                            <th>
                                <h5>Calidad : @Model.Where(w => w.PackingListId == cont.Key).Max(c => c.Calidad)</h5>
                            </th>
                            <th>
                                <h5>Contenedor : @Model.Where(w => w.PackingListId == cont.Key).Max(c => c.ContenedorId)</h5>
                            </th>
                        </tr>

                        <tr>
                            <th>
                                <h5>Finca : @Model.Where(w => w.PackingListId == cont.Key).Max(c => c.Finca)</h5>
                            </th>
                            <th>
                                <h5>Chofer : @Model.Where(w => w.PackingListId == cont.Key).Max(c => c.Chofer)</h5>
                            </th>
                        </tr>

                        <tr>
                            <th>
                                <h5>Sello : @Model.Where(w => w.PackingListId == cont.Key).Max(c => c.Sello)</h5>
                            </th>
                            <th>
                                <h5>Grupo Producto : @Model.Where(w => w.PackingListId == cont.Key).Max(c => c.Grupo)</h5>
                            </th>
                        </tr>
                    </thead>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Especie</th>
                            <th>Diametro</th>
                            <th>Largo</th>
                            <th>Volumen</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in ViewBag.Estratos)
                        {
                            <tr>
                                <td>@string.Format("{0:#,0.00}", Model.Where(f => f.Diametro >= item.MinValue && f.Diametro < item.MaxValue && f.PackingListId == cont.Key).Count())</td>
                                <td>@Model.Where(f => f.PackingListId == cont.Key).Max(e => e.Especie)</td>
                                <td>@item.Name</td>
                                <td>@Model.Where(f => f.PackingListId == cont.Key).Max(e => e.Largo)</td>
                                <td>@string.Format("{0:#,0.00}", Model.Where(f => f.Diametro >= item.MinValue && f.Diametro < item.MaxValue && f.PackingListId == cont.Key).Sum(s => s.Volumen))</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    }
</div>

@if (ViewBag.Precios != null)
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Rango</th>
                        <th>Volumen A </th>
                        <th>Precio A</th>
                        <th>Cantidad A</th>
                        <th>Costo USD A</th>
                        <th>Volumen B </th>
                        <th>Precio B</th>
                        <th>Cantidad B</th>
                        <th>Costo USD B</th>
                        <th>Volumen C </th>
                        <th>Precio C</th>
                        <th>Cantidad C</th>
                        <th>Costo USD C</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.Precios)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.VolumenA</td>
                            <td>@item.PrecioA</td>
                            <td>@item.CantidadA</td>
                            <td><strong>@item.CostoA</strong></td>
                            <td>@item.VolumenB</td>
                            <td>@item.PrecioB</td>
                            <td>@item.CantidadB</td>
                            <td><strong>@item.CostoB</strong></td>
                            <td>@item.VolumenC</td>
                            <td>@item.PrecioC</td>
                            <td>@item.CantidadC</td>
                            <td><strong>@item.CostoC</strong></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}