﻿@model EquiforestWebApp.Models.Trozas

<form asp-action="TrozasEdit">
    <input type="hidden" asp-for="Id" id="Id" class="form-control" />
    <div class="form-group">
        <label for="Clasificacion" class="control-label">Clasificacion</label>
        <input asp-for="Clasificacion" class="form-control" name="Clasificacion" id="Clasificacion" />
        <span asp-validation-for="Clasificacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Circunferencia" class="control-label">Circunferencia</label>
        <input asp-for="Circunferencia" class="form-control" name="Circunferencia" id="Circunferencia" />
        <span asp-validation-for="Circunferencia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Largo" class="control-label">Largo</label>
        <input asp-for="Largo" class="form-control" name="Largo" id="Largo" />
        <span asp-validation-for="Largo" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Viaje" id="Viaje" class="form-control" />
    <input type="hidden" asp-for="ViajeId" id="ViajeId" class="form-control" />
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="saveModal">Save</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
