﻿@model EquiforestWebApp.Models.Trozas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trozas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clasificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clasificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Circunferencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Circunferencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Largo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Largo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-route-id="@Model.ViajeId" asp-action="Index">Back to List</a>
</div>
