﻿@*@model IEnumerable<EquiforestWebApp.Models.Trozas>*@
@model PaginatedList<EquiforestWebApp.Models.Trozas>

@{
    ViewData["Title"] = "Index";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    function showModal(Id) {

            $.ajax({
                url: '/Trozas/OnGetTrozasEdit',
                type: 'GET',
                data: { id: Id },
                error: function (data) {
                    alert("Error at getting" + data);
                },
                success: function (data) {
                    $('#div_content').html(data);
                    $('#TrozaModal').modal('show');
                }
            });

    }

    $(document).on('click', '#saveModal', function () {

        $.ajax({

            url: '@Url.Action("EditModal", "Trozas")',
            type: "PUT",
            data: {

                id: $("#Id").val(),
                clasificacion: $("#Clasificacion").val(),
                circunferencia: $("#Circunferencia").val(),
                largo: $("#Largo").val(),
                viaje: $("#Viaje").val(),
                viajeId: $("#ViajeId").val()
            },

            error: function () {
                alert("Error al actualizar trozas");
            },

            success: function () {
                $("#ViajeModal").modal('hide');
                location.reload();

            },

        });

    });

</script>

<div>

    <div style=" display:inline-block; width: 9%;">
        <h2>Trozas</h2>
    </div>

    <p style=" display:inline-block";>
        <a asp-route-id="@ViewBag.viajeId" asp-action="Create" class="btn btn-info">Crear Troza </a>
    </p>

</div>

<input type="hidden" class="form-control" name="viajeId" value="@ViewData["viajeId"]" />

<div>
    <!-- Modal -->
    <div class="modal fade" id="TrozaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Troza</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="div_content">
                    <!--<partial name="_ViajesEdit.cshtml" />-->
                </div>
            </div>
        </div>
    </div>
</div>

@* <div>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    <input type="date" class="input-group" name="fecini" value="@ViewData["FecIni"]"/>
                    <input type="date" class="input-group" name="fecfin" value="@ViewData["FecFin"]"/>
                    <input type="submit" value="Filtrar" class="btn btn-default" />
                </p>
            </div>
        </form>
    </div>

*@



<table class="table">
    <thead>
        <tr>
            @*
                <th>Nucleo</th>
                <th>Finca</th>
                <th>Rodal</th>
                <th>Fecha</th>
                <th>Ubicacion</th>
                <th>N_Viaje</th>
            *@
            <th>Clasificacion</th>
            <th>Circunferencia</th>
            <th>Largo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*
                    <td>
                        @Html.DisplayFor(modelItem => item.Viaje.Nucleo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Viaje.Finca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Viaje.Rodal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Viaje.FechaIngreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Viaje.Ubicacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Viaje.N_Viaje)
                    </td>
                *@

                <td>
                    @Html.DisplayFor(modelItem => item.Clasificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Circunferencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Largo)
                </td>
                <td>

                    @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> *@
                    <a id="btn-trigger-modal" class="btn btn-default" onclick="showModal(@item.Id)" style="cursor:pointer" ;>Edit</a>
                    @*                     <a asp-action="Details" asp-route-id="@item.Id">Details</a> *@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

<div>
    <a asp-controller="Viajes" asp-action="Viaje">Back to List</a>
</div>
