﻿@model List<SelectListItem>

<form asp-action="UserRolesCreate">

    <div class="form-group">
        <label class="control-label">Roles</label>
        <select class="form-control" name="Role" id="Role" asp-items="Model">
            <option selected="selected" value="">Seleccione un role</option>
        </select>
    </div>

</form>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="saveModal">Agregar Rol</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>