﻿@model List<ResumenCosecha>
@{
    ViewData["Title"] = "Resumen Cosecha";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Calidad', 'Volumen'],
            ['A', @Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "A").Sum(total => total.Volumen)],
            ['B', @Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "B").Sum(total => total.Volumen)],
            ['C', @ViewBag.VolTrozasC],
        ]);

        var options = {
            title: 'Volumen',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart_v'));
        chart.draw(data, options);
    }
</script>

<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Calidad', 'Trozas'],
            ['A', @Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "A").Count()],
            ['B', @Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "B").Count()],
            ['C', @ViewBag.NoTrozasC],
        ]);

        var options = {
            title: 'Cantidad Trozas',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart_q'));
        chart.draw(data, options);
    }
</script>

<script>

    var isNavOpen = false;

    function openNav() {
        isNavOpen = true;
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        isNavOpen = false;
        document.getElementById("mySidenav").style.width = "0px";
    }

    function interact_Nav() {

        if (isNavOpen) {
            closeNav();
        } else {
            openNav();
        }

    }

</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a asp-controller="Viajes" asp-action="Viaje">Viajes</a>
    <!--     <a asp-controller="Contenedores" asp-action="Index">Contenedores</a> -->
</div>

<h4><span style="font-size:20px;cursor:pointer" onclick="interact_Nav()">&#9776;Cosecha</span></h4>

<h2>Resumen Cosecha</h2>
<div class="row">
    <form asp-action="ResumenCosecha" method="get">
        <div class="form">
            <div class="col-md-2 col-xs-6">
                <label for="fecini">Desde</label>
                <input type="date" class="form-control" name="fecini" value="@ViewBag.FecIni" />
            </div>
            <div class="col-md-2 col-xs-6">
                <label for="fecfin">Hasta</label>
                <input type="date" class="form-control" name="fecfin" value="@ViewBag.FecFin" />
            </div>
            <div class="col-md-3 col-xs-6">
                <label for="finca">Finca</label>
                <select asp-items="ViewBag.Fincas" name="Finca" class="form-control">
                    <option selected="selected" value="@ViewBag.FincaSelected">@ViewBag.FincaSelected</option>
                </select>
            </div>
            <div class="col-md-3 col-xs-6">
                <label for="rodal">Rodal</label>
                <select asp-items="ViewBag.Rodales" name="Rodal" class="form-control">
                    <option selected="selected" value="@ViewBag.RodalSelected">@ViewBag.RodalSelectedText</option>
                </select>
                <input type="submit" value="Filtrar" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-4 col-xs-12"><a asp-area="" asp-controller="Viajes" asp-action="Index" asp-route-id="1" asp-route-download="false" class="btn btn-info">Ver Detalles</a></div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr><th>Resumen de Cosecha</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Viajes</td>
                    <td>@ViewBag.NoViajes</td>
                </tr>
                <tr>
                    <td>Volument Total > 45 cm</td>
                    <td>@Model.Where(filter => filter.Circunferencia >= 45.0f).Sum(total => total.Volumen)</td>
                </tr>
                <tr>
                    <td>No de Trozas > 45 cm</td>
                    <td>@Model.Where(filter => filter.Circunferencia >= 45.0f).Count()</td>
                </tr>
                <tr>
                    <td>Volument Total > 45 cm - Clase A</td>
                    <td>@Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "A").Sum(total => total.Volumen)</td>
                </tr>
                <tr>
                    <td>No de Trozas > 45 cm - Clase A</td>
                    <td>@Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "A").Count()</td>
                </tr>
                <tr>
                    <td>Volument Total > 45 cm - Clase B</td>
                    <td>@Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "B").Sum(total => total.Volumen)</td>
                </tr>
                <tr>
                    <td>No de Trozas > 45 cm - Clase B</td>
                    <td>@Model.Where(filter => filter.Circunferencia >= 45.0f && filter.Clasificacion == "B").Count()</td>
                </tr>


                <tr>
                    <td>Volument Total < 45 cm - Clase C</td>
                    <td>@ViewBag.VolTrozasC</td>
                </tr>
                <tr>
                    <td>No de Trozas < 45 cm - Clase C</td>
                    <td>@ViewBag.NoTrozasC</td>
                </tr>


            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6" id="donutchart_v" style="width: 540px; height: 300px;"></div>
    <div class="col-md-6" id="donutchart_q" style="width: 540px; height: 300px;"></div>

</div>
@*style="width: 900px; height: 500px;"*@
