﻿@model  List<ApplicationUser>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h4>Usuarios</h4>
<div class="row">
    <div class="col-md-6">
        <table class="table table-condensed">
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.UserName
                    </td>
                    
                    <td><span class="glyphicon glyphicon-eye-open"></span> | <a asp-controller="Home" asp-action="UserRoles" asp-route-id="@user.Id" asp-route-username="@user.UserName">Roles</a></td>
                </tr>
            }
        </table>
    </div>
</div>

