﻿@model List<UserRoles>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    function showModal() {

        //alert("Value: " + Id);

            $.ajax({
                url: '/Home/OnGetRoles',
                type: 'GET',

                error: function (data) {
                    alert("Error at getting" + data);
                },
                success: function (data) {
                    $('#div_content').html(data);
                    $('#RolesModal').modal('show');
                }
            });

    }

    $(document).on('click', '#saveModal', function () {
        var _userName = $("#userName").val();
        $.ajax({

            url: '@Url.Action("SaveRole", "Home")',
            type: "PUT",
            data: {
                user: _userName,
                role: $("#Role").val()
            },

            error: function () {
                alert("Error al agregar Rol");
            },

            success: function () {
                $("#RolesModal").modal('hide');
                location.reload();
            },

        });

    });

</script>



<h2>Roles</h2>
<h4>@ViewBag.UserName</h4>
<div>
    <a id="btn-trigger-modal" onclick="showModal()" style="cursor:pointer" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>
</div>

<div>
    <!-- Modal -->
    <div class="modal fade" id="RolesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Rol</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="div_content">
                    <!--<partial name="_AddRole.cshtml" />-->
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="userName" value="@ViewBag.UserName" />

<div class="row">
    <div class="col-md-6">
        <table class="table table-condensed">
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.RoleName
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div>
    <a asp-action="UsersManager" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
</div>