﻿@model EquiforestWebApp.Models.Contenedores

@{
    ViewData["Title"] = "Editar Contenedores";
}

<h2>Editar</h2>

<h4>Contenedores</h4>
<hr />
<div class="row">
    <form asp-action="Edit">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label">Fecha de Salida</label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContenedorId" class="control-label">Contenedor</label>
                <input asp-for="ContenedorId" class="form-control" />
                <span asp-validation-for="ContenedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cabezal" class="control-label"></label>
                <input asp-for="Cabezal" class="form-control" />
                <span asp-validation-for="Cabezal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sello" class="control-label"></label>
                <input asp-for="Sello" class="form-control" />
                <span asp-validation-for="Sello" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chofer" class="control-label"></label>
                <input asp-for="Chofer" class="form-control" />
                <span asp-validation-for="Chofer" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="DescuentoCrc" class="control-label">Descuento Circ.</label>
                    <input asp-for="DescuentoCrc" class="form-control" />
                    <span asp-validation-for="DescuentoCrc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescuentoLong" class="control-label">Descuento Long.</label>
                    <input asp-for="DescuentoLong" class="form-control" />
                    <span asp-validation-for="DescuentoLong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxCargoWgt" class="control-label">Max Cargo Wgt.</label>
                    <input asp-for="MaxCargoWgt" class="form-control" />
                    <span asp-validation-for="MaxCargoWgt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FacturaId" class="control-label">Factura</label>
                    <select asp-for="FacturaId" class="form-control" asp-items="ViewBag.FacturaId">
                        <option selected="selected" value="@Model.FacturaId">Seleccionar la factura</option>
                    </select>
                    <span asp-validation-for="FacturaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PackingListId" class="control-label">Packing List</label>
                    <input asp-for="PackingListId" class="form-control" />
                    <span asp-validation-for="PackingListId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>

        </div>
</form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

