﻿@model PaginatedList<EquiforestWebApp.Models.Contenedores>

@{
    ViewData["Title"] = "Lista de Contenedores";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0px";
    }
</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a asp-controller="Facturas" asp-action="Index">Facturas</a>
    <a asp-controller="Contenedores" asp-action="Index">Contenedores</a>
    <a asp-controller="Facturas" asp-action="PackingList" asp-route-origen="2">Packing List</a>
</div>

<h4><span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Comercializacion</span></h4>

<h2>Lista de Contenedores</h2>

<div class="col-md-6 col-xs-4">
    <form asp-controller="Contenedores" asp-action="Index" method="get">
        <div class="form form-inline">
            <p>
                <input type="hidden" name="pageNumber" value="1" />
                <input type="date" class="form-control" name="fecini" value="@ViewData["FecIni"]" />
                <input type="date" class="form-control" name="fecfin" value="@ViewData["FecFin"]" />
                <input type="submit" value="Filtrar" class="btn btn-default" />
            </p>
        </div>
    </form>
</div>

<p>
    <a asp-action="Create" class="btn btn-info">Crear Contenedor</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Fecha Salida
            </th>
            <th>
                Contenedor
            </th>
            <th>
                Cabezal
            </th>
            <th>
                Sello
            </th>
            <th>
                Chofer
            </th>
            <th>
                Desc. Circ.
            </th>
            <th>
                Desc. Long.
            </th>
            <th>Max. Cargo Wgt.</th>
            <th>
                Packing List
            </th>
            <th>
                Factura
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FechaSalida.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContenedorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cabezal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sello)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chofer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescuentoCrc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescuentoLong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxCargoWgt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackingListId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Factura.FacturaId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-fecini="@ViewData["FecIni"]"
       asp-route-fecfin="@ViewData["FecFin"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-fecini="@ViewData["FecIni"]"
       asp-route-fecfin="@ViewData["FecFin"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>

</div>
