﻿    @model EquiforestWebApp.Models.Viajes

<form asp-action="ViajesEdit">
    <input type="hidden" asp-for="Id" id="Id" class="form-control" />
    <div class="form-group">
        <label asp-for="Nucleo" class="control-label">Nucleo</label>
        <input asp-for="Nucleo" id="Nucleo" class="form-control" disabled name="Nucleo" />

        @*      <select asp-for="Nucleo" asp-items="Model.Nucleos" class="form-control" disabled name="Nucleo" id="nucleoSelect">
            <option selected="selected" value="@Model.Nucleo">@Model.Nucleo</option>
        </select>
        *@
        <span asp-validation-for="Nucleo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Finca" class="control-label"></label>
        <input asp-for="Finca" id="Finca" class="form-control" disabled name="Finca" />
        @*
        <select asp-for="Finca" asp-items="Model.Fincas" class="form-control" disabled name="Finca" id="fincaSelect">
            <option selected="selected" value="@Model.Finca">@Model.Finca</option>
        </select>

        *@
        <span asp-validation-for="Finca" class="text-danger"></span>
    </div>
            <div class="form-group">
                <label for="Rodal" class="control-label">Rodal</label>
                <select asp-for="Rodal" asp-items="Model.Rodales" class="form-control" name="Rodal" id="Rodal">
                    <option selected="selected" value="@Model.Rodal">@Model.Rodal</option>
                </select>
                <span asp-validation-for="Rodal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FechaIngreso" class="control-label">Fecha de ingreso</label>
                <input asp-for="FechaIngreso" class="form-control" name="FechaIngreso" id="FechaIngreso" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Ubicacion" class="control-label">Ubicación</label>
                <input asp-for="Ubicacion" class="form-control" name="Ubicacion" id="Ubicacion" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="N_Viaje" class="control-label">No de Viaje</label>
                <input asp-for="N_Viaje"  class="form-control" name="N_Viaje" id="N_Viaje" />
                <span asp-validation-for="N_Viaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="NoTrozasC" class="control-label"># Trozas C</label>
                <input asp-for="NoTrozasC" class="form-control" name="NoTrozasC" id="NoTrozasC" />
                <span asp-validation-for="NoTrozasC" class="text-danger"></span>
            </div>
        </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="editModal">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
