﻿@model EquiforestWebApp.Models.Viajes

<div class="row">
    <div class="col-md-4">
        <form asp-action="ViajesCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <div class="form-group">
                <label asp-for="Nucleo" class="control-label">Nucleo</label>
                <select asp-for="Nucleo" asp-items="Model.Nucleos" class="form-control" name="Nucleo" >
                    <option selected="selected" value="@Model.Nucleo">@Model.Nucleo</option>
                </select>
                <span asp-validation-for="Nucleo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finca" class="control-label"></label>
                <select asp-for="Finca" asp-items="Model.Fincas" class="form-control"  name="Finca">
                    <option selected="selected" value="@Model.Finca">@Model.Finca</option>
                </select>
                <span asp-validation-for="Finca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rodal" class="control-label"></label>
                <select asp-for="Rodal" asp-items="Model.Rodales" class="form-control" name="Rodal" id="Rodal">
                    <option selected="selected" value="@Model.Rodal">@Model.Rodal</option>
                </select>
                <span asp-validation-for="Rodal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" name="FechaIngreso" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ubicacion" class="control-label"></label>
                <input asp-for="Ubicacion" class="form-control" name="Ubicacion" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="N_Viaje" class="control-label"></label>
                <input asp-for="N_Viaje" class="form-control" name="N_Viaje" />
                <span asp-validation-for="N_Viaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoTrozasC" class="control-label"></label>
                <input asp-for="NoTrozasC" class="form-control" name="NoTrozasC" />
                <span asp-validation-for="NoTrozasC" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="createModal">Save</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
