﻿@model EquiforestWebApp.Models.Viajes 

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Viajes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ViajeId" />
            <div class="form-group">
                <label asp-for="Nucleo" class="control-label"></label>
                <input asp-for="Nucleo" class="form-control" />
                <span asp-validation-for="Nucleo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finca" class="control-label"></label>
                <input asp-for="Finca" class="form-control" />
                <span asp-validation-for="Finca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rodal" class="control-label"></label>
                <input asp-for="Rodal" class="form-control" />
                <span asp-validation-for="Rodal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ubicacion" class="control-label"></label>
                <input asp-for="Ubicacion" class="form-control" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="N_Viaje" class="control-label"></label>
                <input asp-for="N_Viaje" class="form-control" />
                <span asp-validation-for="N_Viaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

