﻿@model PaginatedList<EquiforestWebApp.Models.Viajes>

@{
    ViewData["Title"] = "Viaje";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    @*

    function showModal(Id) {

        $.ajax({
        url: '/Viajes/OnGetViajesEdit',
        type: 'GET',
        data: { id: Id },
        error: function (data) {
            alert("Error at getting" + data);
        },
            success: function (data) {

            $('#div_EditContent').html(data);
            $('#EditViajeModal').modal('show');
        }
    });

    $("#btnHideModal").click(function () {
        $("#EditViajeModal").modal('hide');
    });

    }

        $(document).on('click', '#btn-edit-modal', function (Id) {

            $.ajax({
                url: '/Viajes/OnGetViajesEdit',
                type: 'GET',
                data: { id: viajeId },
                success: function (data) {
                    $('#div_content').html(data);
                    $('#EditViajeModal').modal('show');
                },
                error: function () {
                    alert("Error at displaying modal");
                }
            });
    });

                  *@

    $(document).on('change', '#Rodal', function () {
        var a = $("#Rodal option:selected").val();

        $.ajax({
            url: '@Url.Action("UpdateRodalesFields", "Viajes")',
            type: "GET",
            data: { rodal: a },
            success: function (result) {

                $("#Nucleo").val(result.nucleo);
                $("#Finca").val(result.finca);
            },
            error: function (result) {

                alert("Error: " + result);


            }
        });
    });

    $(document).on('click', '#editModal', function () {

        $.ajax({

            url: '@Url.Action("EditModal", "Viajes")',
            type: "PUT",
            data: {

                id: $("#Id").val(),
                nucleo: $("#Nucleo").val(),
                finca: $("#Finca").val(),
                rodal: $("#Rodal").val(),
                fechaIngreso: $("#FechaIngreso").val(),
                ubicacion: $("#Ubicacion").val(),
                n_viaje: $("#N_Viaje").val(),
                noTrozasC: $("#NoTrozasC").val()
            },
                success: function () {
                    $("#EditViajeModal").modal('hide');
                    location.reload();

                },

        });

    });

    $(document).on('click', '#btn-createViaje-modal', function () {

        $.ajax({
            url: '/Viajes/OnGetViajesCreate',
            type: 'GET',
            success: function (data) {
                $('#div_CreateContent').html(data);
                //                $('#nucleo').text(data.nucleo);
                $('#CreateViajeModal').modal('show');
            },
            error: function () {
                alert("Error at displaying modal");
            }
        });
    });

    $(document).on('click', '#createModal', function () {
        var self = $(this);
        var actionUrl = '/Viajes/OnPostViajesCreate';
        var dataToSend = self.parents('.modal').find('form').serialize();

        $.post(actionUrl, dataToSend).done(function (data) {
            //console.log(data);
            $('#div_content').html(data);
            var newBody = $('.modal-body', data);
            var valValid = $('#div_CreateContent').find('[name="IsValid"]').val();
            var isValid = valValid == 'True';
            //newBody.find('[name="IsValid"]').val() == 'True';

            if (isValid) {
                $('#CreateViajeModal').modal('hide');
                location.reload(false);
            }

        });


        @* $.ajax({
            url: '/Viajes/EditModal/' + $('#Id').val(),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: self.parents('.modal').find('form').serialize(),
            success: function (data) {
                if (data.success == true) {
                    $('#modal-person').modal('hide');
                    location.reload(false)
                } else {
                    $('#modal-person').html(data);
                }
            }
        });*@
    });

</script>

<div class="row">

    <form asp-controller="Viajes" asp-action="Viaje" method="get">
        <div class="form">

            <input type="hidden" name="pageNumber" value="1" />
            <div class="col-md-2">
                <label for="fecini">Desde</label>
                <input type="date" class="form-control" name="fecini" value="@ViewData["FecIni"]" />
            </div>
            <div class="col-md-2">
                <label for="fecfin">Hasta</label>
                <input type="date" class="form-control" name="fecfin" value="@ViewData["FecFin"]" />
            </div>
            <div class="col-md-3">
                <label for="finca">Finca</label>
                <select asp-items="ViewBag.Fincas" name="Finca" class="form-control">
                    <option selected="selected" value="@ViewBag.FincaSelected">@ViewBag.FincaSelected</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="rodal">Rodal</label>
                <select asp-items="ViewBag.Rodales" name="Rodal" class="form-control">
                    <option selected="selected" value="@ViewBag.RodalSelected">@ViewBag.RodalSelectedText</option>
                </select>
                <input type="submit" value="Filtrar" class="btn btn-default" />
            </div>
        </div>
    </form>

    @*    <div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <form asp-action="ImportFromExcel" asp-route-id="1" method="post" enctype="multipart/form-data">
                                <label class="control-label">Excel File</label>
                                <input type="file" class="" name="theExcel" />
                                <input type="submit" value="Subir Datos" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    *@

</div>


<div>

    <div style=" display:inline-block; width: 7%;">
        <h2>Viaje</h2>
    </div>

    <p style=" display:inline-block";>
        <a href="#" id="btn-createViaje-modal" class="btn btn-info">Crear Viaje</a>
    </p>


</div>

<!--Create Viaje-->
<div>
    <div class="modal fade" id="CreateViajeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Viaje</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="div_CreateContent">
                    <!--<partial name="_ViajesEdit.cshtml" />-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit Viaje-->
<div>
    <div class="modal fade" id="EditViajeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Viajes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="div_EditContent">
                    <!--<partial name="_ViajesEdit.cshtml" />-->
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Nucleo
            </th>
            <th>
                Finca
            </th>
            <th>
                Rodal
            </th>
            <th>
                FechaIngreso
            </th>
            <th>
                Ubicacion
            </th>
            <th>
                No. Viaje
            </th>
            <th>
                # Trozas C
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*
                    <td>
                        @Html.DisplayFor(modelItem => item.ViajeId)
                    </td>
                *@
                <td>
                    @Html.DisplayFor(modelItem => item.Nucleo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rodal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ubicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.N_Viaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoTrozasC)
                </td>
                <td>
                    <a asp-controller="Trozas" asp-action="Index" asp-route-id="@item.ViajeId" class="btn btn-default">Trozas</a> |
                    @*                <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-fecini="@ViewBag.FecIni" asp-route-fecfin="@ViewBag.FecFin" asp-route-rodal="@ViewBag.RodalSelected" asp-route-finca="@ViewBag.FincaSelected">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="row">
    <div class="col-md-12">
        <a asp-action="Viaje"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-fecini="@ViewData["FecIni"]"
           asp-route-fecfin="@ViewData["FecFin"]"
           asp-route-finca="@ViewData["FincaSelected"]"
           asp-route-rodal="@ViewData["RodalSelected"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Viaje"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-fecini="@ViewData["FecIni"]"
           asp-route-fecfin="@ViewData["FecFin"]"
           asp-route-finca="@ViewData["FincaSelected"]"
           asp-route-rodal="@ViewData["RodalSelected"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>
        <span>Pag. @Model.PageIndex / @Model.TotalPages</span>
    </div>
</div>